<div class="row mt-5 justify-content-center">
  <div class="col-lg-3 mx-auto col-md-12">
    <div class="card bg-light mb-4" style="max-width: 25rem">
      <div class="card-header text-center">Agregar Usuario</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
          <input
            formControlName="nombre"
            type="text"
            class="form-control mt-2"
            placeholder="Ingrese Nombre"
          />
          <div
            *ngIf="
              form.get('nombre')?.hasError('required') &&
              form.get('nombre')?.touched
            "
            class="text-danger"
          >
            El campo nombre es <strong>requerido</strong>
          </div>

          <input
            formControlName="apellidos"
            type="text"
            class="form-control mt-2"
            placeholder="Ingrese Apellidos"
          />
          <div
            *ngIf="
              form.get('apellidos')?.hasError('required') &&
              form.get('apellidos')?.touched
            "
            class="text-danger"
          >
            El campo Apellidos es <strong>requerido</strong>
          </div>

          <input
            formControlName="usuario"
            type="text"
            class="form-control mt-2"
            placeholder="Ingrese Usuario"
          />
          <div
            *ngIf="
              form.get('usuario')?.hasError('required') &&
              form.get('usuario')?.touched
            "
            class="text-danger"
          >
            El campo Usuario es <strong>requerido</strong>
          </div>

          <input
            formControlName="correo"
            type="text"
            class="form-control mt-2"
            placeholder="Ingrese Correo"
          />
          <div
            *ngIf="
              form.get('correo')?.hasError('required') &&
              form.get('correo')?.touched
            "
            class="text-danger"
          >
            El campo Correo es <strong>requerido</strong>
          </div>

          <input
            formControlName="clave"
            type="password"
            class="form-control mt-2"
            placeholder="Ingrese Clave"
          />
          <div
            *ngIf="
              form.get('clave')?.hasError('required') &&
              form.get('clave')?.touched
            "
            class="text-danger"
          >
            El campo Clave es <strong>requerido</strong>
          </div>

          <div class="row mt-3 text-center">
            <div class="col-lg-6">
              <button
                type="button"
                class="btn btn-secondary btn-sm ms-2"
                routerLink="/usuarios"
              >
                Volver
              </button>
            </div>
            <div class="col-lg-6">
              <button
                [disabled]="form.invalid"
                type="submit"
                class="btn btn-success btn-sm"
              >
                Aceptar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
