<div class="outer-container">
  <div class="inner-container">
    <div class="container">
      <div class="col-md-12">
        <div class="login-form">
          <h2 class="text-center">Inicio de Sesión</h2>

          <div class="form-group">
            <label for="inputEmail" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su correo electrónico"
              [(ngModel)]="correo" />
          </div>

          <div class="form-group">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese su contraseña"
              [(ngModel)]="clave" />
          </div>

          <button type="button" class="btn btn-primary btn-block" (click)="onSubmit()">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>